.text{
    height: 200px;
    background: url('./img/image1.jpg');
    background-position: 0 -360px;
    background-attachment: fixed;
    color: #fff;
    border-bottom: 1px #eee solid;
    padding-top: 50px;
}
.aboutpic{
    margin-top: -25px;
   
}
.blog{
    background-color:rgb(51, 51, 51);
    
}
.blog-text{
    font-size: 12px;
}
.mid{
    background: url(./img/lights.jpg);
    min-height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.overlay{
    background-color: black;
    opacity: 0.7;
}
.home-4{
    background: url(./img/media.jpg);
    min-height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.over-4{
    background-color: black;
    opacity: 0.7;
    min-height: 150px;
}

.carousel-item {
    height: 450px;
  }
  
  .carousel-image-1 {
    background: url('./img/image1.jpg');
    background-size: cover;
  }
  
  .carousel-image-2 {
    background: url('./img/image2.jpg');
    background-size: cover;
  }
  
  .carousel-image-3 {
    background: url('./img/image3.jpg');
    background-size: cover;
  }
  

/* <iframe width="560" height="315" src="https://www.youtube.com/embed/CQWGLrX_Mvw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> */